files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/app_01_migrate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if [ -f /tmp/migrate]
      then
        rm /tmp/migrate
        sudo docker exec $(sudo docker ps -q) python3 /srv/project/app/manage.py migrate
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/app_99_create_dummy_user.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if [ -f /tmp/migrate]
      then
        rm /tmp/migrate
        sudo docker exec $(sudo docker ps -q) python3 /srv/project/app/manage.py dummy
      fi